.portfolio-details__hero {
  padding: 20px;
  padding-top: 10vh;
  text-align: center;
}

.portfolio-details__info {
  text-align: center;
}

.portfolio-details__image-container {
  margin-bottom: 40px;
}

.portfolio-details__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

@media (min-width: 1000px) {
  .portfolio-details__image-container {
    /* width: 80vw; */
    /* height: 400px; */
  }
}

/* profolio details */
.portfolio-details__group {
  display: flex;
  flex-direction: column;
}

.logo__image {
  height: 50px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.portfolio-details__info h4 {
  margin-bottom: 5px;
}

.property-details__list {
  list-style-type: disc;
  margin: 0 auto;
}

.tech_sheet {
  text-align: left;
  width: 180px;
  margin: 0 auto;
}
.tech_sheet p {
  text-align: left;
}

@media (min-width: 1000px) {
  .portfolio-details__image-container {
    width: 50%;
  }
  .portfolio-details__image {
    width: 700px;
    height: 400px;
    object-fit: contain;
  }

  .portfolio-details__group {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
  }

  .logo__image {
    text-align: left;
    height: 75px;
    width: 150px;
  }

  .portfolio-details__info {
    text-align: left;
  }

  .portfolio-details__info p {
    width: 80%;
  }
  .property-details__list {
    padding-left: 20px;
  }
  .tech_sheet {
    margin: 0;
  }
  .tech_sheet p {
  }
}

.portfolio-details__resources {
  margin: 20px 0;
}

.portfolio__website-button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #dedede;
  color: #4a4a4a;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 10px 20px rgba(74, 74, 74, 0.25);
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.portfolio__github-button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #f2ebf7;
  color: #8238b5;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 10px 20px rgba(130, 56, 181, 0.25);
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.portfolio__website-button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background-color: #000;
  color: #fff;
}
.portfolio__github-button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background: #000;
  color: #fff;
}

.github-icon {
  padding-right: 5px;
}

.arrow-icon {
  padding-left: 5px;
  transform: rotate(45deg);
}

.link-icon {
  padding-left: 5px;
  color: #8238b5;
}

/* carousel */

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 15%;
}

.slides .slick-next {
  right: 15%;
}

.slick-prev:before {
  color: #000;
}
.slick-next:before {
  color: #000;
}

.slick-arrow .slick-next {
}
