.portfolio-hero {
  text-align: center;
  padding-top: 10vh;
  background-color: #fff;
}

.portfolio-hero h1 {
  font-size: 21px;
}

.portfolio-hero p {
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

.tablist-container {
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tablist {
  margin: 5px;
}

.tablist-button {
  padding: 8px 20px;
  z-index: 4;
  border: none;
  border-radius: 20px;
  background-color: #dcd4f0;
  color: #321c36;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.tablist-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(220, 212, 240, 1);
}

.active {
  padding: 8px 20px;
  z-index: 5;
  border: none;
  border-radius: 20px;
  background-color: #321c36;
  color: #dcd4f0;
  box-shadow: 0 10px 20px rgba(50, 28, 54, 0.5);
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.tab-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  .about-hero h1 {
    font-size: 2em;
  }
  .about-hero p {
    font-size: 1em;
  }
  .tab-gallery {
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
  }
}

/* next link */
.portfolio-screen-button-container {
  width: 200px;
  /* margin: 0 auto; */
  /* margin-left: -20px; */
  padding-left: 70vw;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.portfolio-screen-button-container:hover {
  cursor: pointer;
}

.link-holder {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-holder:hover p {
  transform: translateX(0);
  color: #000;
}

.link-holder:hover span {
  color: #321c36;
}

.portfolio-screen-button-container p {
  transform: translateX(-100vw);
  transition: 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

@media (max-width: 1000px) {
  .portfolio-screen-button-container {
    padding-left: 50vw;
  }

  .portfolio-screen-button-container p {
    color: gray;
    transform: translateX(-1vw);
    transition: 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
}

.portfolio-screen-button {
  padding-left: 5px;
  font-size: 21px;
  animation: slide;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.link-span {
  margin: 0 auto;
  transform: translateX(0);
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
