.App {
  text-align: center;
  padding: 1rem;
}

a {
  text-decoration: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: #2a0848;
  font-weight: bold;
}

.header-icon {
  color: #f5c723;
  font-size: 1.2rem;
}
.header-icon:hover {
  cursor: pointer;
}

.header-button {
  margin-left: 5px;
  border: 0;
  background: none;
  font-size: 1.2rem;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.header-button:active {
  transform: scale(1.2);
}

.header-button:hover {
  cursor: pointer;
}

@media (min-width: 1000px) {
  .App {
    padding: 1rem 3rem;
  }
  .brand {
    font-size: 21px;
  }
  .header-icon {
    font-size: 21px;
  }

  .header-button {
    font-size: 25px;
    margin-left: 20px;
  }
}
